h1{
    margin-top: 80px;
    margin-left: 250px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gray;
    text-shadow: 3px 3px 2px midnightblue;
    }
    
    #tbar{
        height: 80px;
        width: 100%;
        background-color: steelblue;
        position: absolute;
    }
  
    
    #tbarOpt{
        float: right;
        width: 800px;
        padding-top: 20px;
    }
    
    #tbarOpt>h1{
        font-style: normal;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
        text-shadow: 3px 3px 2px black;
        display: inline;
        padding-right: 20px;
    }
    
    #tbarOpt>a{
        text-decoration: none;
        margin: 0 2px;
    }
    
    #tbarOpt>a>button{
        margin-bottom: 20px;
        padding: 3px;
    }
    .skewedBox{
       
        background-color:  rgb(221, 191, 191);

    }
    .container{
        padding: 5%;
        margin-top: 80px;
        width: 100%;
        height: 700px;
        background-color:  rgb(221, 191, 191);

    }
    