<div id="tbar" class="fixed-top">
    <div id="tbarLogo"> 
        <img src="./assets/images/logo.png">
    </div>
    <div id="tbarOpt">
        <h1>Bright Minds</h1>
        <a routerLink="/index"><button class="btn btn-light">Home</button></a>
        <a routerLink="/instructor"><button class="btn btn-light">Instructor</button></a>
        <a routerLink="/courses"><button class="btn btn-light">Courses</button></a>
        <a routerLink="#"><button class="btn btn-light">Logout</button></a>        
        <a><i class="fas fa-sign-out-alt"></i></a>
    </div> 
    <router-outlet></router-outlet>  
</div>

