
<div id="tbar" class="fixed-top">
    
    <div id="tbarOpt">
        <h1>Bright Minds</h1>
        <a [routerLink]="['/index']"><button class="btn btn-light">Home</button></a>
        <a [routerLink]="['/student']"><button class="btn btn-light">Profile</button></a>
        <a [routerLink]="['/login']"><button class="btn btn-light">Logout</button></a>        
        <a><i class="fas fa-sign-out-alt"></i></a>
    </div> 
    <router-outlet></router-outlet> 
</div>
<section class="skewedBox">
<div class="container">
<div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/2dZiMBwX_5Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/TBWX97e1E9g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

</div>
</section>