<html>
<head>
<meta charset="ISO-8859-1">
<title>Course List</title>
</head>
<body>
 

	<section class="skewedBox">


<div class="container">
    <div class="card" style="width: 60%;">
        <div class="card-body">
          
          <h5 class="card-text">{{courseinfo.title}}</h5>
          <p class="card-text">{{courseinfo.description}}</p>
          <p class="card-text">Hourse: {{courseinfo.hours}} | Price: {{courseinfo.price}} </p>
          <a href="#" class="btn btn-primary">Register  </a>
        </div>
      </div>
</div>
</section>
</body>
</html>


    